
body {
  font: 36px Futura, Helvetica, sans-serif;
  margin: 20px; 
  background: #010101;
}

.title{
  font-family: 'Fredericka the Great', cursive;
  font-size: 4em;
  color: #FF3232;
  font-weight: 300;
  margin-top:5%;
}
.title-box{
  text-align:center;
  margin:0px auto;
}

.subtext{
font-family: 'Josefin Slab', serif;
font-size: .2em;
display:block; 
}

.gametext{
font-family: 'Josefin Slab', serif;
font-size: 1em;
color:#efefef;
}



.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
