/* latin */
@font-face {
  font-family: 'Fredericka the Great';
  font-style: normal;
  font-weight: 400;
  src: local('Fredericka the Great'), local('FrederickatheGreat'), url(https://fonts.gstatic.com/s/frederickathegreat/v6/9Bt33CxNwt7aOctW2xjbCstzwVKsIBVV--Sjxbc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: italic;
  font-weight: 400;
  src: local('Josefin Slab Italic'), local('JosefinSlab-Italic'), url(https://fonts.gstatic.com/s/josefinslab/v8/lW-nwjwOK3Ps5GSJlNNkMalnrz6tDs8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: italic;
  font-weight: 600;
  src: local('Josefin Slab SemiBold Italic'), local('JosefinSlab-SemiBoldItalic'), url(https://fonts.gstatic.com/s/josefinslab/v8/lW-kwjwOK3Ps5GSJlNNkMalnrzZyKtrnHg4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: italic;
  font-weight: 700;
  src: local('Josefin Slab Bold Italic'), local('JosefinSlab-BoldItalic'), url(https://fonts.gstatic.com/s/josefinslab/v8/lW-kwjwOK3Ps5GSJlNNkMalnrzYWK9rnHg4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab Regular'), local('JosefinSlab-Regular'), url(https://fonts.gstatic.com/s/josefinslab/v8/lW-5wjwOK3Ps5GSJlNNkMalnqg6v.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 600;
  src: local('Josefin Slab SemiBold'), local('JosefinSlab-SemiBold'), url(https://fonts.gstatic.com/s/josefinslab/v8/lW-mwjwOK3Ps5GSJlNNkMalvdSq6Kerl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Slab Bold'), local('JosefinSlab-Bold'), url(https://fonts.gstatic.com/s/josefinslab/v8/lW-mwjwOK3Ps5GSJlNNkMalvESu6Kerl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  font: 36px Futura, Helvetica, sans-serif;
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #010101;
  overflow: hidden;
}
.game-ui {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-image: url('../assets/backgrounds/gameframe.png');
  top: 0px;
  left: 0px;
}
.scan-line {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0px;
  left: 0px;
  background-image: url('../assets/tiles/scanline.png');
}
.title {
  font-family: 'Fredericka the Great', cursive;
  font-size: 4em;
  color: #FF3232;
  font-weight: 300;
  margin-top: 5%;
  text-align: center;
  margin: 0px auto;
  float: center;
}
.subtext {
  font-family: 'Josefin Slab', serif;
  font-size: .2em;
  display: block;
}
.gametext {
  font-family: 'Josefin Slab', serif;
  font-size: 1em;
  color: #efefef;
}
.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-info {
  margin-left: 20px;
}
.map-wrap {
  width: 512px;
  height: 448px;
  display: block;
  z-index: -10;
  position: absolute;
  top: 276px;
  left: 671px;
  overflow: hidden;
  border: 1px solid white;
}
.fog {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  z-index: -9;
  width: 100%;
  bottom: 0px;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, #000000 44%);
  /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(44%, #000000));
  /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, #000000 44%);
  /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, #000000 44%);
  /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, #000000 44%);
  /* ie10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, #000000 44%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=1);
  /* ie6-9 */
}
.map {
  position: absolute;
  top: 225px;
  left: 204px;
  display: block;
  z-index: -10;
}
ul.map {
  list-style: none;
  padding: 0px;
  margin: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  font-size: 0;
}
.map li {
  list-style: none;
  display: block;
  padding: 0px;
  margin: 0px;
  position: absolute;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
.tile {
  width: 72px;
  height: 72px;
  background-image: url('../assets/tiles/tile.png');
  padding: 0px;
}
.tile.field {
  background-image: url('../assets/tiles/fieldtile.png');
}
.tile.forest {
  background-image: url('../assets/tiles/foresttile.png');
}
.tile.mountain {
  background-image: url('../assets/tiles/mountaintile.png');
}
.player {
  background-image: url('../assets/sprites/base_char_sprite.png');
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-position: 0px 0px;
}
@keyframes walk_right {
  100% {
    background-position: -80px 0px;
  }
}
.player.rwalk {
  animation: walk_right 0.2s steps(2) infinite;
}
@keyframes walk_left {
  0% {
    background-position: 0px -40px;
  }
  100% {
    background-position: -80px -40px;
  }
}
.player.lwalk {
  animation: walk_left 0.2s steps(2) infinite;
}
.options {
  width: 300px;
  height: 900px;
  display: block;
  z-index: -10;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border: 1px solid white;
}
.menu-items {
  color: #FFFFFF;
  font-family: 'Josefin Slab', serif;
  font-size: 0.65em;
  list-style: none;
  padding: 0px;
  padding-left: 5px;
}
.menu-items li {
  margin-top: 5px;
}
.playerstatus {
  /* background-image: url('../assets/sprites/base_char.png'); */
  font-family: 'Josefin Slab', serif;
  display: block;
  width: 300px;
  height: 433px;
  color: #fff;
  font-size: 0.5em;
  position: relative;
}
.playername {
  margin-left: 5px;
  position: absolute;
  bottom: 1px;
}
.class {
  position: absolute;
  bottom: 1px;
  right: 1px;
}
